.clock {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 200px;
}

.clock__arrow {
  position: relative;
  height: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #cccccc;
}

.clock__time-serif,
.clock__time-arrow {
  position: absolute;
  width: 200px;
  height: 200px;
}

.clock__time-serif::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -92px);
  width: 4px;
  height: 10px;
  background-color: #000;
}

.clock__time-arrow::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.clock__time-arrow_hour {
  transform: rotate(90deg);
}

.clock__time-arrow_hour::before {
  transform: translate(-50%, -34px);
  background-image: url('../../assets/icons/hour-icon.svg');
  width: 12px;
  height: 40px;
}

.clock__time-arrow_minute {
  transform: rotate(-0deg);
}

.clock__time-arrow_minute::before {
  transform: translate(-50%, -74px);
  background-image: url('../../assets/icons/minute-icon.svg');
  width: 12px;
  height: 80px;
}

.clock__time-arrow_second {
  transform: rotate(126deg);
}

.clock__time-arrow_second::before {
  transform: translate(-50%, -95px);
  width: 2px;
  height: 105px;
  background-color: #000;
}

.clock__numeric {
  text-align: center;
  font-size: 24px;
}

.clock__zone {
  background-color: #cccccc;
  padding: 5px;
  font-size: 18px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 34px;
  font-size: 20px;
  background-color: #cccccc;
  border: 1px solid #767676;
}
